# Core dependencies
colorama==0.4.6
psutil==5.9.5
requests==2.30.0
pywin32==306; platform_system == 'Windows'
prompt_toolkit==3.0.39
tqdm==4.66.1
cryptography==41.0.3
wmi==1.5.1

# Test dependencies
pytest==7.4.0
pytest-cov==4.1.0

# Development dependencies
black==23.7.0
flake8==6.1.0
isort==5.12.0
mypy==1.5.1